@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h4>Add a Stylist</h4>

<p><strong>NOTE:</strong> You need to have at least one client before you can add a stylist</p>
@* <p>Go to @Html.ActionLink("this page", "Create", "Clients") to add a client.</p> *@

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.stylist_name)
  @Html.TextBoxFor(model => model.stylist_name)

  @Html.LabelFor(model => model.stylist_name)
  @Html.DropDownList("client_id")

  <input type="submit" value="Add new stylist" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>