@{
Layout = "_Layout";
}

@model Salon.Models.Client


<h3>Add a new Client</h3>
<p>IMPORTANT: You need to have at least one stylist before you can add a Client!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Stylists") to create a Stylist.</p>

@using (Html.BeginForm())
{
@Html.TextBoxFor(model => model.Name, new { placeholder = "Name", style = "text-align: center;"} )<br><br>
<br>

@Html.LabelFor(model => model.Stylist)<br>
@Html.DropDownList("StylistId")<br><br>

<input type="submit" value="Add new client" class="btn btn-light" />
}

<br>
<p>@Html.ActionLink("Show all Clients", "Index")</p>
