@{
  Layout = "_Layout";
}

<h1 class="jumbotron">Clients</h1>

@using Salon.Models;

  @if (@Model.Count == 0)
  {
    <h3>No Clients have been added yet!</h3>
  }
  else
  {
    <ul>
      @foreach (Client client in Model)
      {
        <li id="client">@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</li>
      }
    </ul>
  }

  <h3>@Html.ActionLink("Add new Stylist", "Create", "Stylists")</h3>
  <h3>@Html.ActionLink("Add new client", "Create")</h3>
  <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
